
h2 {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    padding-top: 30px;

}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: justify;

}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
}

li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: justify;
}

img {
    max-width: 30%;
    margin: auto;
    display: block;
}

button {
    padding: 10px;
    margin: auto;
    border: solid rgb(104, 94, 94) 1px;
    border-radius: 5px;
    cursor: pointer;
    background-color: aliceblue;

}

.mostrar {
    display: none;
}