h1 {
    color: rgb(92, 4, 37);
    font-size: 4rem;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid rgb(92, 4, 37);
}

nav {
    background-color: #a18c8c;
    padding: 2px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 30px;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}


body {
    background-color: #f1e9ec;
}

footer {
    background-color: #4e4e4e;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2px;
}

footer p{
    margin: 5px;
    padding-left: 2rem;
}